/**
 * @file
 * CSS field file
 */

.homebox_block {
  border: 1px solid black;
  background-color: #cecece;
  padding: 10px;
}
.homebox_category a {
  font-weight: bold;
}

.homebox_category_sub {
  display: none;
}
